<ul id="menu">
  <li data-menuanchor="page1" class="active"><a href="#Engaged">Engaged</a></li>
  <li data-menuanchor="page2"><a href="#Sangeet">Sangeet</a></li>
  <li data-menuanchor="page3"><a href="#HaldiMehendi">HaldiMehendi</a></li>
  <li data-menuanchor="page4"><a href="#Nikaah">Nikaah</a></li>
  <li data-menuanchor="page5"><a href="#Waleema">Waleema</a></li>
  <!-- <li data-menuanchor="page6"><a href="#Products">Products & Commodities</a></li>
  <li data-menuanchor="page7"><a href="#Prices">Product Prices</a></li>
  <li data-menuanchor="page8"><a href="#Certificate">Certificate</a></li>
  <li data-menuanchor="page9"><a href="#ContactUs">Contact Us</a></li>
  <li data-menuanchor="page10"><a href="#Enquiry">Enquiry</a></li> -->
</ul>

<div id="pagepiling">
  <div class="section" id="section1">
          <video autoplay loop muted oncanplay="this.play()" onloadedmetadata="this.muted = false" id="myVideo">
                  <source src="../assets/videos/video.mp4" type="video/mp4">
          </video>
          <div class="elevatedLayer">
                  <div class="outerCover">
                        <div class="innerCover">

                                <p class="smallIntroTextArabia">
                                      بارك الله فيك ، وأغسل عليك بركاته ، وضمك في الخير
                                </p>

                        </div>

                        <div class="innerCover">

                                <p class="bottomText">
                                      May Allah bless you, and shower His blessings upon you, and join you together in goodness
                                </p>
                        </div>

                        <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                          <div class="innerCover">

                                  <p class="bigIntroTop">
                                        Zeeshan <br> &<br> Rukshar
                                  </p>


                          </div>
                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                          <div class="innerCover">
                                  <p class="smallIntroText">
                                          We got engaged
                                  </p>


                          </div>
                          
                          <div class="innerCover">
                                  <p class="smallIntroText">
                                          23 • 10 • 2022
                                  </p>
                          </div>



                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                  </div>

          </div>
  </div>
  <div class="section" id="section2">
          <div class="intro">
                  <div class="outerCover">
                        <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                          <div class="innerCover">

                                  <p class="bigIntroTop">
                                        Sangeet <br> & <br> Dance
                                  </p>


                          </div>
                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                          <!-- <div class="innerCover">
                                  <p class="smallIntroText">
                                          Sangeet & Dance
                                  </p>


                          </div> -->
                          
                          <div class="innerCover">
                                  <p class="smallIntroText">
                                          18 • 12 • 2022
                                  </p>
                          </div>

                          
                          <div class="innerCover">
                                  <p class="bottomText">
                                        <i class="bi bi-geo-alt-fill"></i>  OTDC Yatrinivas, V3RW+98P, Junei, Konark, Odisha 768001
                                  </p>
                                  <p class="bottomText">
                                        <i class="bi bi-geo-alt-fill"></i>  Chandrabhaga Beach cafe, V485+3CQ, Puri-Konark Marine Dr, Balighai, Bhuan, Odisha 752111
                                  </p>
                          </div>

                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>

                  </div>
          </div>
  </div>
  <div class="section" id="section3">
          <div class="intro">
                  <div class="outerCoverShrunk">
                    

                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                          <div class="innerCover">

                                  <p class="bigIntroTop">
                                        Haldi & Mehendi
                                  </p>


                          </div>
                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                        <!-- <div class="innerCover">
                                <p class="medIntroTop">
                                        Haldi & Mehendi
                                </p>
                        </div> -->
                          <div class="innerCover">
                                  <p class="smallIntroText">
                                          Dulha<br> Haldi Mehendi <br> 21 • 12 • 2022
                                  </p>
                                  <p class="smallIntroText">
                                        Dulhan<br> Haldi  21 • 12 • 2022 <br> Mehendi  22 • 12 • 2022
                                </p>

                          </div>
                          

                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>

                          
                          <div class="innerCover">
                                  <p class="bottomText">
                                        Dulhan • <i class="bi bi-geo-alt-fill"></i> 200, Bapuji Nagar, Bhubaneshwar
                                  </p>
                                  <p class="bottomText">
                                        Dulha • <i class="bi bi-geo-alt-fill"></i> YWCA, FVG9+P55, Mission Rd, Biju Patnaik Colony, Cuttack, Odisha 753008
                                  </p>
                          </div>

                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>

                          
                  </div>
          </div>
  </div>
  <div class="section" id="section4">
          <!-- <video autoplay loop oncanplay="this.play()" onloadedmetadata="this.muted = true" id="myVideoInline">
                  <source src="../assets/videos/fast_lane.mp4" type="video/mp4">
          </video> -->
          <div class="intro">
                  <div class="outerCoverShrunkRevColr">
                        <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                          <div class="innerCover">

                                  <p class="bigIntroTop">
                                        Nikaah
                                  </p>


                          </div>
                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                          <!-- <div class="innerCover">
                                  <p class="smallIntroText">
                                          Sangeet & Dance
                                  </p>


                          </div> -->
                          
                          <div class="innerCover">
                                  <p class="smallIntroText">
                                          23 • 12 • 2022
                                  </p>
                          </div>

                          
                          <div class="innerCover">
                                <p class="bottomText">
                                        <i class="bi bi-geo-alt-fill"></i> The Bhubaneshwar Grand
                                </p>
                                <p class="bottomText">
                                      Tankapani Rd, Baragarh, Bhubaneswar, Odisha 751018
                                </p>
                        </div>

                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                  </div>
          </div>
  </div>
  <div class="section" id="section5">
          <!-- <video autoplay loop muted oncanplay="this.play()" onloadedmetadata="this.muted = true"
                  id="myVideoInline">
                  <source src="../assets/videos/ageement.mp4" type="video/mp4">
          </video> -->
          <div class="intro">
                <div class="outerCoverShrunk">
                        <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                          <div class="innerCover">

                                  <p class="bigIntroTop">
                                        Waleema
                                  </p>


                          </div>
                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                          <!-- <div class="innerCover">
                                  <p class="smallIntroText">
                                          Sangeet & Dance
                                  </p>


                          </div> -->
                          
                          <div class="innerCover">
                                  <p class="smallIntroText">
                                          25 • 12 • 2022
                                  </p>
                          </div>

                          
                          <div class="innerCover">
                                  <p class="bottomText">
                                        <i class="bi bi-geo-alt-fill"></i> Bellissimo Convention <br> Cantonment Rd, Buxi Bazaar, Cuttack, Odisha 753008
                                  </p>

                          </div>

                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                </div>
          </div>
  </div>
 
 
 
 

</div>