<ul id="menu">
  <li data-menuanchor="page0" class="active"><a href="#Invited">YouAreInvited</a></li>
  <li data-menuanchor="page1"><a id="landingHref" href="#Engaged">Engaged</a></li>
  <li data-menuanchor="page2"><a href="#Sangeet">Sangeet</a></li>
  <li data-menuanchor="page3"><a href="#HaldiMehendi">Haldi</a></li>
  <li data-menuanchor="page4"><a href="#Nikaah">Nikaah</a></li>
  <li data-menuanchor="page5"><a href="#Waleema">Waleema</a></li>
  <li data-menuanchor="page6"><a href="#RSVP">RSVP</a></li>
  <li><a id="musicButton" class="iconText" href="#"><i class="bi bi-play-circle-fill"></i></a></li>
  <li ><a id="muteButton" class="iconText" href="#"><i class="bi bi-volume-mute-fill"></i></a></li>
  <li ><a id="unmuteButton" class="iconText" href="#"><i class="bi bi-volume-up-fill"></i></a></li>

  <!-- <li data-menuanchor="page6"><a href="#Products">Products & Commodities</a></li>
  <li data-menuanchor="page7"><a href="#Prices">Product Prices</a></li>
  <li data-menuanchor="page8"><a href="#Certificate">Certificate</a></li>
  <li data-menuanchor="page9"><a href="#ContactUs">Contact Us</a></li>
  <li data-menuanchor="page10"><a href="#Enquiry">Enquiry</a></li> -->
</ul>

<div id="pagepiling">
<div class="section" id="section0">
        <div class="elevatedLayerCover">
                <div class="outerCover">
                        <div class="innerCover">

                                <p class="bottomText ">
                                        <img src="../assets/images/bismillah_icon.png" class="encloseimage" alt="end" />
                                </p>

                                
                        </div>

                        <div class="innerCover">

                                <p class="bottomText">
                                “In the name of Allah, The Most Gracious and The Most Merciful“     
                                </p>
                        </div>

                        <div class="innerCover">

                                <p class="bottomText ">
                                        <img src="../assets/images/petals_brown.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                        <div class="innerCover">
                                <p class="smallIntroText">
                                        You are invited
                                </p>


                        </div>

                        <div class="innerCover">

                                <p class="bottomText">
                                        We solicit your blessings & request the honour
                                        of your presence<br> to grace the auspicious occasion
                                        of the 

                                </p>
                        </div>

                        <div class="innerCover">
                                <p class="smallIntroText">
                                        Nikaah celebrations 
                                </p>


                        </div>
                                
                        <div class="innerCover">

                                <p class="bottomText ">
                                        <img src="../assets/images/petals_brown.png" class="encloseimage" alt="end" />
                                </p>

                                
                        </div>
                        <div class="innerCover">

                                <p class="bigIntroTop">
                                        Zeeshan
                                </p>
                        </div>

                        <div class="innerCover">

                                <p class="bottomText">
                                Son of Jb. Usman Ali & Mrs. Akhtari Begum

                                </p>
                        </div>

                        <div class="innerCover">

                                <p class="bigIntroTop">
                                        & 
                                </p>
                        </div>

                        <div class="innerCover">
                                <p class="bigIntroTop">
                                        Rukshar 
                                </p>
                        </div>
                        <div class="innerCover">

                                <p class="bottomText">
                                Daughter of Jb. Sheikh Jamaluddin & Mrs. Aklima Begum
                                </p>
                        </div>
                        <div class="innerCover">

                                <p class="bottomText ">
                                        <img src="../assets/images/petals_brown.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                        <div class="innerCover">

                        <p class="smallIntroTextArabia">
                                <!-- Slide Up/Scroll up <i class="bi bi-arrow-up-circle-fill"></i> <br> -->
                                 <a id="musicButtonBottom" class="iconText" href="#"><i class="bi bi-play-circle-fill"></i> Click here to open Invite <i class="bi bi-play-circle-fill"></i></a>
                        </p>
                </div>


                </div>

        </div>
</div>
  <div class="section" id="section1">
          <video autoplay loop id="myVideo">
                  <source src="../assets/videos/video.mp4" type="video/mp4">
          </video>
          <div class="elevatedLayer">
                  <div class="outerCover">
                        <div class="innerCover">

                                <p class="bottomText ">
                                        <img src="../assets/images/bismillah_icon.png" class="encloseimage" alt="end" />
                                </p>

                                
                        </div>
                        <div class="innerCover">

                                <p class="smallIntroTextArabia">
                                      بارك الله فيك ، وأغسل عليك بركاته ، وضمك في الخير
                                </p>
                                
                        </div>

                        <div class="innerCover">

                                <p class="bottomText">
                                      May Allah bless you, and shower His blessings upon you, and join you together in goodness
                                </p>
                        </div>

                        <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                          <div class="innerCover">

                                  <p class="bigIntroTop">
                                        We got engaged
                                  </p>


                          </div>
                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
 
                          
                          <div class="innerCover">
                                  <p class="smallIntroText">
                                          23 • 10 • 2022
                                  </p>
                          </div>



                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>

                                
                        </div>


                  </div>

          </div>
  </div>
  <div class="section" id="section2">
          <div class="intro">
                  <div class="outerCover">
                        <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                          <div class="innerCover">

                                  <p class="bigIntroTop">
                                        Sangeet <br> & <br> Dance
                                  </p>


                          </div>
                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                          <!-- <div class="innerCover">
                                  <p class="smallIntroText">
                                          Sangeet & Dance
                                  </p>


                          </div> -->
                          
                          <div class="innerCover">
                                  <p class="smallIntroText">
                                          18 • 12 • 2022 
                                  </p>
                                  <p class="smallIntroTextArabia">
                                       <i class="bi bi-clock-fill"></i> 5:00 pm
                                </p>
                          </div>
                          
                          
                          <div class="innerCover">
                                  <p class="bottomText">
                                        <i class="bi bi-geo-alt-fill"></i>  OTDC Yatrinivas, V3RW+98P, Junei, Konark, Odisha 768001
                                  </p>
                                  <p class="bottomText">
                                        <i class="bi bi-geo-alt-fill"></i>  Chandrabhaga Beach cafe, V485+3CQ, Puri-Konark Marine Dr, Balighai, Bhuan, Odisha 752111
                                  </p>
                          </div>

                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>

                  </div>
          </div>
  </div>
  <div class="section" id="section3">
          <div class="intro">
                  <div class="outerCoverShrunk">
                    

                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                          <div class="innerCover">

                                  <p class="bigIntroTop">
                                        Haldi & Mehendi
                                  </p>


                          </div>
                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                        <!-- <div class="innerCover">
                                <p class="medIntroTop">
                                        Haldi & Mehendi
                                </p>
                        </div> -->
                          <div class="innerCover">
                                  <p class="smallIntroTextArabia">
                                          Dulha<br> Haldi Mehendi <br> 21 • 12 • 2022
                                  </p>
                                  <p class="smallIntroTextArabia">
                                        Dulhan<br> Haldi  21 • 12 • 2022 <br> Mehendi  22 • 12 • 2022
                                </p>
                                <p class="smallIntroTextArabia">
                                        <i class="bi bi-clock-fill"></i> 6:00 pm onwards
                                 </p>

                          </div>
                          

                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>

                          
                          <div class="innerCover">
                                  <p class="bottomText">
                                        Dulhan • <i class="bi bi-geo-alt-fill"></i> 200, Bapuji Nagar, Bhubaneshwar
                                  </p>
                                  <p class="bottomText">
                                        Dulha • <i class="bi bi-geo-alt-fill"></i> YWCA, FVG9+P55, Mission Rd, Biju Patnaik Colony, Cuttack, Odisha 753008
                                  </p>
                          </div>

                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>

                          
                  </div>
          </div>
  </div>
  <div class="section" id="section4">
          <!-- <video autoplay loop oncanplay="this.play()" onloadedmetadata="this.muted = true" id="myVideoInline">
                  <source src="../assets/videos/fast_lane.mp4" type="video/mp4">
          </video> -->
          <div class="intro">
                  <div class="outerCoverShrunkRevColr">
                        <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                          <div class="innerCover">

                                  <p class="bigIntroTop">
                                        Nikaah
                                  </p>


                          </div>
                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                         
                          <div class="innerCover">
                                  <p class="smallIntroText">
                                          23 • 12 • 2022
                                  </p>
                                  <p class="smallIntroTextArabia">
                                        Baraat <i class="bi bi-clock-fill"></i> 3:00 pm
                                 </p>
                                 <p class="smallIntroTextArabia">
                                        Nikaah <i class="bi bi-clock-fill"></i> 4:00 pm
                                 </p>
                                 <p class="smallIntroTextArabia">
                                        Dinner <i class="bi bi-clock-fill"></i> 6:00 pm onwards
                                 </p>
                          </div>

                          
                          <div class="innerCover">
                                <p class="bottomText">
                                        <i class="bi bi-geo-alt-fill"></i> The Bhubaneshwar Grand
                                </p>
                                <p class="bottomText">
                                      Tankapani Rd, Baragarh, Bhubaneswar, Odisha 751018
                                </p>
                        </div>

                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                  </div>
          </div>
  </div>
  <div class="section" id="section5">
          <!-- <video autoplay loop muted oncanplay="this.play()" onloadedmetadata="this.muted = true"
                  id="myVideoInline">
                  <source src="../assets/videos/ageement.mp4" type="video/mp4">
          </video> -->
          <div class="intro">
                <div class="outerCoverShrunk">
                        <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                          <div class="innerCover">

                                  <p class="bigIntroTop">
                                        Waleema
                                  </p>


                          </div>
                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                          <!-- <div class="innerCover">
                                  <p class="smallIntroText">
                                          Sangeet & Dance
                                  </p>


                          </div> -->
                          
                          <div class="innerCover">
                                  <p class="smallIntroText">
                                          25 • 12 • 2022
                                  </p>
                                  <p class="smallIntroTextArabia">
                                        Dinner <i class="bi bi-clock-fill"></i> 6:00 pm onwards
                                 </p>
                          </div>

                          
                          <div class="innerCover">
                                  <p class="bottomText">
                                        <i class="bi bi-geo-alt-fill"></i> Bellissimo Convention <br> Cantonment Rd, Buxi Bazaar, Cuttack, Odisha 753008
                                  </p>

                          </div>

                          <div class="innerCover">

                                <p class="bottomText ">
                                      <img src="../assets/images/petals.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                </div>
          </div>
  </div>
  <div class="section" id="section6">
        <div class="elevatedLayerCover">
                <div class="outerCover">
                        <div class="innerCover">

                                <p class="bottomText ">
                                        <img src="../assets/images/bismillah_icon.png" class="encloseimage" alt="end" />
                                </p>

                                
                        </div>

                        <div class="innerCover">

                                <p class="bottomText">
                                “In the name of Allah, The Most Gracious and The Most Merciful“     
                                </p>
                        </div>

                        <div class="innerCover">

                                <p class="bottomText ">
                                        <img src="../assets/images/petals_brown.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                        <!-- <div class="innerCover">
                                <p class="smallIntroText">
                                        You are invited
                                </p>


                        </div> -->

                        <div class="innerCover">

                                <p class="bottomText">
                                        بارك الله لكما و بارك عليكما و جمع بينكما في خير
                                </p>

                                
                                <p class="bottomText">
                                        May Allah bless for you (your spouse) and bless you, and may He unite both of you in goodness. Baraka Allahu Lakuma Wa Baraka Alikuma Wa Jamaah Baina Kuma Fee Khair.
                                </p>
                        </div>

                               
                        <div class="innerCover">

                                <p class="bottomText ">
                                        <img src="../assets/images/petals_brown.png" class="encloseimage" alt="end" />
                                </p>

                                
                        </div>
                        <div class="innerCover">

                                <p class="bigIntroTop">
                                        Awaiting your presence
                                </p>
                        </div>

                        
                        <div class="innerCover">

                                <p class="bottomText ">
                                        <img src="../assets/images/petals_brown.png" class="encloseimage" alt="end" />
                                </p>
                        </div>
                        <div class="innerCover">

                </div>


                </div>

        </div>
</div>
 
 
 

</div>